{%extends "base.html"%}
{%block title%}
Profile
{%endblock title%}

{%block content%}
<body style="background-color: black;">
  
<div class="card" style="width: 18rem; margin-top: 5rem; margin-left: 5rem;">
    <img
      class="card-img-top"
      src="{{user.profile.avatar.url}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{user.profile.user}}</h5>
      <p class="card-text">{{user.profile.bio}}</p>
     
    </div>
  </div>
  <a href="{%url 'Updateprofile'%}" class="btn btn-danger" style="margin-left: 5rem;">Update profile</a>

</body>
  {%endblock%}