{%extends "base.html"%}

{%block content%}
<!-- <div class="container-fluid">
    <div class="container-fluid album py-5 bg-light">
        <div class="container-fluid">
            <div class="container-fluid d-flex flex-wrap flex-sm-wrap justify-content-around mx-auto"
        data-masonry='{ "itemSelector": ".picture", columnWidth: 5, fitWidth: true}'>
                {%for movive in OnAir%}
                 <img
            data-bs-toggle="modal"
            class="px-sm-1 mx-auto my-3 img-fluid"
            type="button"
            data-bs-target="#pic{{movie.id}}"
            src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
            alt="{{movie.title}}"
            style="width:35rem; height: auto; object-fit:cover"
            

          />
          {%endfor%}
           </div>
        </div>
    </div>
</div> -->
 <h1>POPULAR</h1>
     <div class="movies-row" id="trending">
            {%for watch in today%}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{watch.poster_path}}"
                     alt="{{watch.original_name}}"/>
                <p>{{watch.original_name}}</p>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ watch.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>
            {%endfor%}
    </div>

{%endblock%}